---
import Main from "../layouts/Main.astro";
---

<Main title="Contact - pwned.page">
    <p class="notice">
        <strong>Work in progress!</strong><br />
        This page is WIP, im planning on hosting alot of stuff soon
        <!-- This is hosted by a random guy(or NSA agent) on the internet, do not use these if you need 100% guranteed
security -->
    </p>
    If you want to apply for a subdomain, make an issue on
    <a href="https://github.com/ilovethensa/pwned.page">github</a>
</Main>
