---
import Main from "../layouts/Main.astro";
---

<Main title="Index - pwned.page">
    <!-- you actually read the source code? -->
    <p class="notice">
        <strong>Work in progress!</strong><br />
        This page is WIP, im planning on hosting alot of stuff soon
        <!-- This is hosted by a random guy(or NSA agent) on the internet, do not use these if you need 100% guranteed
security -->
    </p>
    <p>
        Pwned.page is(for now) a couple of services i(TheHolyTachanka) host in
        my basement
    </p>
</Main>
