---
import Main from "../layouts/Main.astro";
---

<Main title="Index - pwned.page">
    <section>
        <h1>Welcome to Pwned.page!</h1>
        <!--Work in progress notice -->
        <p class="notice">
            <strong>Work in Progress!</strong><br /> This page is a work in progress.
            I'm currently working on adding more features and services, so stay tuned
            for updates!
        </p>
        <!--Project Introduction -->
        <p>
            Pwned.page is a personal project started by <strong
                >TheHolyTachanka</strong
            > to host privacy-conscious, open-source, and self-hosted alternatives
            to popular services. All services are currently running on a very hardened
            TMPFS-on-root NixOS server, ensuring a secure and reproducible environment.
            You can view the complete source code for the infrastructure on <a
                href="https://codeberg.org/ilovethensa/homelab"
                target="_blank">codeberg</a
            >.
        </p>
    </section>
</Main>
<style>
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.8rem;
        margin-top: 2rem;
    }
    h3 {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
    ul {
        list-style-type: disc;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    ul li {
        margin-bottom: 0.5rem;
    }
</style>
