---
import Main from "../layouts/Main.astro";
import ServiceButton from "../components/ServiceButton.astro";
---

<Main title="Services - pwned.page">
    <section>
        <p class="notice">
            <strong>Important Notice:</strong><br />
            These services are hosted by an independent individual (possibly just
            a hobbyist or, who knows, an NSA agent). Use them at your own risk, especially
            if you require guaranteed security or reliability.
        </p>
        <div class="service-buttons">
            <ServiceButton
                Title="Libreddit"
                Description="A privacy-focused alternative frontend for Reddit."
                url="https://lr.pwned.page"
            />
            <ServiceButton
                Title="Rimgo"
                Description="A lightweight and privacy-friendly alternative to Imgur."
                url="https://rimgo.pwned.page"
            />
            <ServiceButton
                Title="4get"
                Description="A proxy search engine that doesn't suck"
                url="https://search.pwned.page"
            />
            <ServiceButton
                Title="Invidious"
                Description="A privacy-respecting frontend for YouTube."
                url="https://yt.pwned.page"
            />
            <ServiceButton
                Title="Shoelace"
                Description="A privacy-focused frontend for Threads.net."
                url="https://shoelace.pwned.page"
            />
        </div>
    </section>
</Main>

<style>
    .service-buttons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    .notice {
        margin-bottom: 1rem;
    }
</style>
