---
import Main from "../layouts/Main.astro";
---

<Main title="fard">
    <p class="notice">
        <strong>Beware!</strong><br />
        This is hosted by a random guy(or NSA agent) on the internet, do not use
        these if you need 100% guranteed security and/or reliability
    </p>
    <p>
        <a href="https://lr.pwned.page">Libreddit</a> - A private front-end for Reddit
    </p>
    <p>
        <a href="https://rimgo.pwned.page">Rimgo</a> - An alternative frontend for
        Imgur
    </p>
</Main>
