<header>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>Pwned.page</h1>
    <p>The (not) pwned services!</p>
</header>
